<%- include(layout + '/start', { title: 'Login' }) %>
    <meta name="csrf-token" content="<%= csrfToken %>">
    
<%- include(layout + '/content') %>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form">
                        <div class="form-group row">
                            <label for="" class="col-md-3 col-form-label">E-mail</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="" name="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-3 col-form-label">Password</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" id="" name="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-9 offset-md-3">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn btn-primary" type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%- include(layout + '/script') %>
    <script>
        (function(){
            $("#form").on("submit", function(e){
                e.preventDefault();

                
                $(".error").remove();

                $.ajax({
					url: "",
					type: "POST",
					data: new FormData(this),
					contentType: false,
					cache: false,
					processData: false,
					beforeSend: function(){
                        Swal.showLoading();
					},
					success: function(data){
                            Swal.fire({
                                type: 'success',
                                title: data.msg,
                                showConfirmButton: false,
                                timer: 1500
                            }).then(function(){
                                window.location.href = "/";
                            });
					},
					error: function(xhr){
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: xhr.responseJSON.msg,
                            footer: '<a href>Why do I have this issue?</a>'
                        });
                        let errors = validator.render(xhr);
                        for(var key in errors){
                            var html=``;
                            for(var i=0;i<errors[key].length; i++){
                                html=html+`<li>${errors[key][i]}</li>`;
                            }
                            $(`[name="${key}"]`).parent().append(`<div class="error alert alert-danger"><ul>${html}</ul></div>`);
                        }
					}
				});
            });
        })();
    </script>
<%- include(layout + '/end') %>