<%- include(layout + '/start', { title: 'Articles' }) %>
    <meta name="csrf-token" content="<%= csrfToken %>">
    
<%- include(layout + '/content') %>
<form id="form">
    <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="" class="col-md-3 col-form-label">Title</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="" value="<%= (typeof article != 'undefined') ? article.title:'' %>" name="title">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-3 col-form-label">Slug</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="" value="<%= (typeof article != 'undefined') ? article.slug:'' %>" name="slug">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-3 col-form-label">Content</label>
                                        <div class="col-md-9">
                                            <textarea class="form-control" id="" name="content"><%= (typeof article != 'undefined') ? article.content:'' %></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-9 offset-md-3">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="" value="<%= (typeof article != 'undefined') ? article.thumbnail:'' %>" name="thumbnail" placeholder="Thumbnail">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="" value="<%= (typeof article != 'undefined') ? article.meta_keyword:'' %>" name="meta_keyword" placeholder="Meta Keyword">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="" value="<%= (typeof article != 'undefined') ? article.meta_description:'' %>" name="meta_description" placeholder="Meta Description">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</form>
<%- include(layout + '/script') %>
    <script>
        (function(){
            $("#form").on("submit", function(e){
                e.preventDefault();

                
                $(".error").remove();

                $.ajax({
					url: "<%= (typeof article != 'undefined') ? linkTo.editArticle : linkTo.createArticle %>",
					type: "<%= (typeof article != 'undefined') ? 'PUT' : 'POST' %>",
					data: new FormData(this),
					contentType: false,
					cache: false,
					processData: false,
					beforeSend: function(){
                        Swal.showLoading();
					},
					success: function(data){
                            Swal.fire({
                                type: 'success',
                                title: 'Your work has been saved',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(function(){
                                window.location.href = "<%= linkTo.listArticle %>";
                            });
					},
					error: function(xhr){
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: xhr.responseJSON.msg,
                            footer: '<a href>Why do I have this issue?</a>'
                        });
                        let errors = validator.render(xhr);
                        for(var key in errors){
                            var html=``;
                            for(var i=0;i<errors[key].length; i++){
                                html=html+`<li>${errors[key][i]}</li>`;
                            }
                            $(`[name="${key}"]`).parent().append(`<div class="error alert alert-danger"><ul>${html}</ul></div>`);
                        }
					}
				});
            });
        })();
    </script>
<%- include(layout + '/end') %>