<%- include(layout + '/start', { title: 'Home' }) %>
    <meta name="csrf-token" content="<%= csrfToken %>">
<%- include(layout + '/content') %>
    <div class="row">
        <div class="col-md-12">
            <form id="form">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="" class="col-md-3 col-form-label">Photo</label>
                                            <div class="col-md-9">
                                                
                                                <div class="input-group mb-2">
                                                    <input type="text" class="form-control" id="" value="<%= (typeof dataProfile != 'undefined') ? dataProfile.photo:'' %>" name="photo" disabled>
                                                    <div class="input-group-append">
                                                        <button type="button" class="btn btn-secondary yib-uploader"><i class="fas fa-image"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-3 col-form-label">Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="" value="<%= (typeof dataProfile != 'undefined') ? dataProfile.name:'' %>" name="name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-3 col-form-label">Username</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="" value="<%= (typeof dataProfile != 'undefined') ? dataProfile.username:'' %>" name="username">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-9 offset-md-3">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <button class="btn btn-primary" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
<%- include(layout + '/script') %>
<script>
    (function(){
        $("#form").on("submit", function(e){
            e.preventDefault();

            
            $(".error").remove();

            $.ajax({
                url: "/settings/profile",
                type: "PUT",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                beforeSend: function(){
                    Swal.showLoading();
                },
                success: function(data){
                        Swal.fire({
                            type: 'success',
                            title: 'Your work has been saved',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(function(){
                            window.location.reload();
                        });
                },
                error: function(xhr){
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: xhr.responseJSON.msg,
                        footer: '<a href>Why do I have this issue?</a>'
                    });
                    let errors = validator.render(xhr);
                    for(var key in errors){
                        var html=``;
                        for(var i=0;i<errors[key].length; i++){
                            html=html+`<li>${errors[key][i]}</li>`;
                        }
                        $(`[name="${key}"]`).parent().append(`<div class="error alert alert-danger"><ul>${html}</ul></div>`);
                    }
                }
            });
        });
    })();
</script>
<%- include(layout + '/end') %></div>