<%- include(layout + '/start', { title: 'Home' }) %>
    <meta name="csrf-token" content="<%= csrfToken %>">
<%- include(layout + '/content') %>
    <div class="row">
        <div class="col-md-12">
            
        </div>
    </div>
<%- include(layout + '/script') %>
<script>
</script>
<%- include(layout + '/end') %></div>